
<!DOCTYPE html>
<head>
    <title>Edmonton Bus Data Visualizer - Matt Schlosser</title>
    <meta charset="UTF-8"/>
    <meta name="description" content="A simple visualization tool for historic Edmonton bus data. See the location of any bus at any time."/>
    <meta name="keywords" content="edmonton, ets, bus, transit, visualization"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Matt Schlosser"/>
    <style>
        canvas {
            display: inline-block;
        }
    </style>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
<div id="app">
    <div class='content'>
        <div class='header'>
            <img style="display:none;" id="map" src="/map"/>
            <h1>Edmonton Bus Data Visualizer</h1>
            This is a simple interface to show Edmonton bus data. 
            See <a href="https://github.com/mattschlosser/bus">https://github.com/mattschlosser/bus</a> for more info<br/>
            <basic-options inline-template>
                <div class="mt-3">
                    Update Interval (ms): <input v-model="speed" @change="reset"></v-input>
                </div>
            </basic-options><br/>
        </div>
        <div id="canvas-container" class='bus'>
            <div style="display: inline-block">
                <canvas id="canvas1" width="640" height="640"></canvas><br/>
                <interface-controls for="canvas1"></interface-controls>
            </div>
            <div style="display: inline-block">
                <canvas id="canvas2" width="640" height="640"></canvas><br/>
                <interface-controls for="canvas2"></interface-controls>
            </div>
        </div>  
    </div>
</div>

<script>
    function adjustCanvas(name) {
        let canvas = document.getElementById(name)
        let container = document.getElementById('app');
        let maxWidth = container.clientWidth - 30;
        if (canvas.width > maxWidth) {
            let ratio = maxWidth/canvas.width;
            canvas.width = maxWidth
            canvas.height = canvas.height*ratio;
        } else {
            let ratio = Math.min(maxWidth, 640)/canvas.width;
            canvas.width =  canvas.width*ratio;
            canvas.height = canvas.height*ratio;
        }
    }
    window.onload = () => {
        ['canvas1', 'canvas2'].forEach(adjustCanvas)
    }
    let timeout;
    window.onresize = () => {
        clearTimeout(timeout);
        timeout = setTimeout(() => ['canvas1', 'canvas2'].forEach(adjustCanvas), 16) // 60 fps = 16 ms per frame
    }
    let configs = {
        canvas1: {
            date: '2020-03-05',
            time: '07:43', 
            electric: false
        }, 
        canvas2: {
            date: '2020-07-28',
            time: '07:43', 
            electric: false
        }
    }
    var map = null;
    document.getElementById('map').onload = () => {
        // fetch data from the api
        map = document.getElementById("map");    
    }
    function draw(name, rows) {
        let q = document.getElementById(name)
        let c = q.getContext('2d')
        map && c.drawImage(map, 0, 0, q.width, q.height)
        c.fillStyle ="#ffffffaa"
        c.fillRect(0,0,q.width, q.height);
        c.fillStyle = "#000000ff";
        c.fillText(new Date(rows[0].timestamp*1000).toLocaleString(), 0, q.height-20);
        let minY =  53.42103958129883, maxY = 53.69961929321289, maxX = -113.23108673095705, minX  = -113.68351745605467;
        c.fillStyle = "#000000ff";
        let drawDot = e => {
            let x = (e.long-minX)/(maxX-minX)*q.width;
            let y = (maxY-e.lat)/(maxY-minY)*q.height;
            c.fillRect(x-2,y-2,5,5);
        }
        rows.forEach(drawDot)
    }

    let start = 00;
    let updater = () => {
        Object.keys(configs).forEach(key => {
            let time = `${configs[key].time.substr(0, 3)}${start.toLocaleString('en', {minimumIntegerDigits: 2})}`
            fetch(`/bus/${configs[key].date}/${time}/4`, {method: 'get'})
                .then(res => res.json())
                // not verified - but I think the new ETS electric fleet is numbered 8000+
                .then(rows => rows.filter(e => configs[key].electric ? e.bus >= 8000 : true))
                .then(e => draw(key, e))
        });
        start++;
        start = start % 60;
    }
    let i = null;
    const setup = speed => {
        clearInterval(i);
        i = setInterval(updater, speed)
    }

    // initallly
    const speed = 500;
    setup(speed)

    Vue.component("basic-options", {
        data() {
            return { speed }
        },
        methods: {
            reset() {
                setup(this.speed)
            }
        }
    })

    Vue.component("interface-controls", {
        props: {
            for: String
        }, 
        data() {
            return configs[this.for];
        },
        template: `
            <div>
                <div class='center'>
                    <input type="date" v-model="date"></input>
                    <input type="time" v-model="time"></input>
                    <label>
                        <input type="checkbox" v-model="electric"/>Electric Buses Only
                    </label>
                </div>
            </div>

        `
    })
    new Vue({el: "#app"})


</script>
<style type="text/css">
    html, body {
        margin: 0;
        padding: 0;
        font-family: "Arial", sans-serif
    }
    #app {
        width: 100%;
        max-width: 100%;
    }
    .center {
        margin: 0 auto;
        display: inline-block;
        width: fit-content;
    }
    .content {
        margin: 0 auto;
    }
    .header {
        text-align: center;
    }
    .bus {
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
        margin: 0 auto;
        text-align: center;
    }
    .mt-3 {
        margin-top: 30px;
    }
    @media only screen and (min-width: 914px) {
        .bus {
            width: 70%;
        }
    }
</style>